.level {
  padding: calc(2 * var(--spacing-4xl)) 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: calc(4 * var(--spacing-xxl));
  grid-template-areas:
    "flow context";
}

/* blur background effect */
.level::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  backdrop-filter: blur(30px);
}
